<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        Weather Journal App
      </div>
      <div class="holder zip">
        <label for="zip">Enter City here</label>
        <input type="text" id="zip" placeholder="enter city here" />
        <label for="zip">Enter Date here</label>
        <input type="text" id="date" placeholder="enter date here" />
      </div>
      <br />
      <div class="holder feel">
        <label for="feelings">How are you feeling today?</label>
        <textarea
          class="myInput"
          id="feelings"
          placeholder="Enter your feelings here"
          rows="5"
          cols="50"
        ></textarea>
        <button id="generate" type="submit">Generate</button>
      </div>
      <h2 id="lng"></h2>
      <h2 id="lat"></h2>
      <div class="holder entry">
        <div class="title">Most Recent Entry</div>
        <div id="entryHolder">
          <p id="countdown"></p>
          <p id="destination"></p>
          <div id="content"></div>
        </div>
      </div>
    </div>
  </body>
</html>
