<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="app">
      <section class="headline">
        Travel Planner
      </section>
      <section class="new-trip">
        <input
          type="text"
          id="departure"
          name="departure"
          placeholder="01.01.2020"
        />
        <input
          type="text"
          id="location"
          name="location"
          placeholder="New York"
        />
        <button id="generate" type="submit">next trip</button>
      </section>
      <section class="saved-trip">
        <img
          src="https://via.placeholder.com/250"
          alt="random image from your destination"
        />
        <div id="info">
          <h2 id="name">My Trip To: <span id="city"></span></h2>
          <h2 id="date">Departing: <span id="departing"></span></h2>
          <div id="flight">
            <h3>Weather:</h3>
            <p>
              High: 25C° Low: 15C°
            </p>
          </div>
        </div>
      </section>
    </section>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>
