body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  display: flex;
  /* grid-template-columns:  */
  max-height: 100vh;
  max-width: 100vw;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

#app {
}

#name {
  color: red;
}

.new-trip {
  margin-bottom: 3rem;
}

.saved-trip {
  display: flex;
  #info {
    margin-left: 2rem;
    h2,
    h3,
    p {
      margin: 0;
    }
  }
}
